/*! APPROCCIO DESKTOP FIRST */

/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

/* Layout */
.wrapper {
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(
      to top,
      #dadbd4 0%,
      #dadbd4 80%,
      #009688 80%,
      #009688 100%
  );
  display: flex;
  justify-content: center;
  align-items: center;
}

.big-container {
  width: 80%;
  height: 90vh;
  display: flex;
}

/* Header */
header {
  height: 80px;
  background-color: #eaeaea;
}

/* Common */
body {
  font-family: Arial, Helvetica, sans-serif;
}

ul {
  list-style: none;
}

.user-photo {
  width: 60px;
  height: 60px;
  object-fit: cover;
  border-radius: 50px;
  margin: 10px 20px;
}

button {
  border: none;
}

.flex {
  display: flex;
}

h2 {
  font-size: 1.2rem;
  font-weight: 100;
}

/* Colonna dei contatti */
.contact-col {
  width: 400px;
  height: 100%;
}

.user {
  align-items: center;
}

.contacts .user:hover {
  background-color: lightgray;
}

/* Intestazione dei contatti */
.contact-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-right: 1px solid #d8d8d8;
}

header ul {
  display: flex;
}

header button {
  font-size: 25px;
  color: #b1b1b1;
  background-color: #eaeaea;
  padding-right: 30px;
}

/* Notifiche */
.notifications {
  height: 90px;
  background-color: #8edafc;
  align-items: center;
}

.bell {
  display: flex;
  align-items: center;
}

.bell i {
  width: 60px;
  height: 60px;
  border-radius: 50px;
  margin: 20px;
  background-color: #f2fbff;
  line-height: 35px;
  padding: 14px;
  font-size: 1.6rem;
  color: #8edafc;
}

.bell h2 {
  font-size: 1rem;
  padding: 0;
}

.bell a {
  padding: 5px 0 0 0;
  display: inline-block;
  font-size: 0.8rem;
  color: #677d8f;
}

/* Barra di ricerca nella chat */
.search-bar {
  height: 60px;
  background-color: #fafafa;
  align-items: center;
  justify-content: center;
}

.search i {
  vertical-align: middle;
  border: 1px solid #f1f1f1;
  border-right: none;
  padding: 10px 10px 10px 20px;
  background-color: white;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  color: #b7b9bb;
}

#s-chat {
  padding: 10px;
  border: 1px solid #f1f1f1;
  border-left: none;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  width: 330px;
  color: #b7b9bb;
}

/* Lista dei contatti */
.contacts {
  height: calc(100% - 230px);
  background-color: #ffffff;
  overflow-y: auto;
}

.time {
  padding-left: 85px;
  padding-bottom: 20px;
}

.contacts .user {
  border-bottom: 1px solid #f1f1f1;
}

/* Colonna della chat */
.chat-col {
  width: calc(100% - 400px);
  height: 100%;
}

/* Intestazione della chat */
.chat-header { 
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.chat-header p,
.contacts p {
  font-size: 0.8rem;
  color: #828c91;
  padding-top: 3px;
}

/* Schermo della chat */
.chat-screen {
  height: calc(100% - 160px);
  background-image: url(../img/mine.jpg);
  overflow-y: auto;
  display: flex;
  justify-content: center;
}

.msg-container {
  width: 80%;
}

.msg {
  max-width: 50%;
  display: flex;
  margin-top: 30px;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 30px;
  justify-content: space-between;
}

.msg-time {
  flex-direction: column;
  justify-content: space-between;
  color: grey;
}

.msg-time button {
  color: grey;
  background-color: transparent;
}

.msg-time p {
  font-size: 0.7rem;
  position: relative;
  top: 8px;
  left: 0;
}

.row {
  display: grid;
}

.your { 
  background-color: #d5f9ba;
  justify-self: end;
}

.other {
  background-color: #ffffff;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown i {
  padding-left: 90px;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 0px 10px 5px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 1;
  top: 0;
  right: 0;
}

.dropdown-content li {
  padding: 10px;
}

.dropdown:hover .dropdown-content {
  display: block;
}

/* Footer della chat */
.chat-footer {
  height: 80px;
  background-color: #f3eeea;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.chat-footer button {
  font-size: 1.8rem;
  color: #6b7376;
}

.chat-footer input {
  width: 85%;
  padding: 20px 10px;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
}
